<!--Header-->
<%- include ('./partials/header.ejs') %>

<body>

  <header>

    <div id="primeirobotao" class="buttons col-md-6">
      <p>Deseja fazer uma pergunta??</p>
      <a class="perguntar" href="/perguntar">
        <button class="perguntar">Perguntar</button>
      </a>
    </div>
  
      <div id="segundobotao" class="buttons col-md-6">
        <p>Que tal responder algumas perguntas, hein?!?</p>
        <a class="responder" href="/responder">
          <button class="responder">Responder</button>
        </a>
      </div>
  
  </header>

<!--Footer-->
<%- include ('./partials/footer.ejs') %>
